In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm

Goal is to make a transformation matrix that converts a bond type vector to atom count vector.

$$
\begin{bmatrix}
   c_\text{(CC1, Br)} & c_\text{(CC2, Br)} & \dots & c_\text{((OS1, Br)}\\
   c_\text{(CC1, C)} & c_\text{(CC2, C)} & \dots & c_\text{(OS1, C)}\\
   \vdots & \vdots & \dots & \vdots\\
   c_\text{(CC1, S)} & c_\text{(CC2, S)} & \dots & c_\text{(OS1, S)}\\
\end{bmatrix}
\cdot
\begin{bmatrix}
   b_\text{CC1} \\
   b_\text{CC2} \\
   \vdots \\
   b_\text{OS1}
\end{bmatrix}
=
\begin{bmatrix}
   a_\text{Br} \\
   a_\text{C} \\
   \vdots \\
   a_\text{S}
\end{bmatrix}
$$

In [25]:
bond_types = pd.read_csv('./data/processed/csp_bond_types.csv', index_col=0)

bond_types.reset_index(drop=True, inplace=True)

bond_types.columns

Index(['BrC1', 'BrN1', 'CC1', 'CC1.5', 'CC2', 'CC3', 'CCl1', 'CF1', 'CH1',
       'CN1', 'CN1.5', 'CN2', 'CN3', 'CO1', 'CO2', 'CS1', 'CS2', 'HN1', 'HO1',
       'NN1', 'NN2', 'NO1', 'NS1', 'NS2', 'OS1', 'OS2'],
      dtype='object')

In [26]:
bond_types.head()

,BrC1,BrN1,CC1,CC1.5,CC2,CC3,CCl1,CF1,CH1,CN1,...,CS2,HN1,HO1,NN1,NN2,NO1,NS1,NS2,OS1,OS2
0,0,0,5,6,1,0,0,0,19,9,...,0,1,0,0,0,0,0,0,0,0
1,0,0,5,6,1,0,0,0,19,9,...,0,1,0,0,0,0,0,0,0,0
2,0,0,5,6,1,0,0,0,19,9,...,0,1,0,0,0,0,0,0,0,0
3,0,0,5,6,1,0,0,0,19,9,...,0,1,0,0,0,0,0,0,0,0
4,0,0,7,0,1,0,0,0,20,9,...,0,1,1,0,0,0,0,0,0,0

In [27]:
atom_counts = pd.read_csv('./data/processed/atom_counts.csv')

atom_counts.columns

Index(['Br', 'C', 'Cl', 'F', 'H', 'N', 'O', 'S'], dtype='object')

In [28]:
obj = {
    'Br':1, 
    'C': 4, 
    'Cl':1, 
    'F': 1, 
    'H': 1, 
    'N': 3, 
    'O': 2, 
    'S': 2
}

In [29]:
TM = pd.DataFrame(
    index = atom_counts.columns, 
    columns = bond_types.columns,
    data=0
)

TM

,BrC1,BrN1,CC1,CC1.5,CC2,CC3,CCl1,CF1,CH1,CN1,...,CS2,HN1,HO1,NN1,NN2,NO1,NS1,NS2,OS1,OS2
Br,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
C,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Cl,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
F,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
H,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
N,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
O,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
S,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [78]:
for atom in atom_counts.columns:
    for bond in bond_types.columns:
        bond_name = "".join([s if s.isalpha() else "" for s in bond])
        bond_num = float("".join([s if not s.isalpha() else "" for s in bond]))
        
        if atom in bond:
            coef = bond_num
            
            if bond_name in ["CC", "NN"]:
                coef *= 2
            
            coef /= obj[atom]
            
            TM.loc[atom, bond] = coef

TM.round(3)

,BrC1,BrN1,CC1,CC1.5,CC2,CC3,CCl1,CF1,CH1,CN1,...,CS2,HN1,HO1,NN1,NN2,NO1,NS1,NS2,OS1,OS2
Br,1.00,1.000,0.0,0.00,0.0,0.0,0.00,0.00,0.00,0.000,...,0.0,0.000,0.0,0.000,0.000,0.000,0.000,0.000,0.0,0
C,0.25,0.000,0.5,0.75,1.0,1.5,0.25,0.25,0.25,0.250,...,0.5,0.000,0.0,0.000,0.000,0.000,0.000,0.000,0.0,0
Cl,0.00,0.000,0.0,0.00,0.0,0.0,1.00,0.00,0.00,0.000,...,0.0,0.000,0.0,0.000,0.000,0.000,0.000,0.000,0.0,0
F,0.00,0.000,0.0,0.00,0.0,0.0,0.00,1.00,0.00,0.000,...,0.0,0.000,0.0,0.000,0.000,0.000,0.000,0.000,0.0,0
H,0.00,0.000,0.0,0.00,0.0,0.0,0.00,0.00,1.00,0.000,...,0.0,1.000,1.0,0.000,0.000,0.000,0.000,0.000,0.0,0
N,0.00,0.333,0.0,0.00,0.0,0.0,0.00,0.00,0.00,0.333,...,0.0,0.333,0.0,0.667,1.333,0.333,0.333,0.667,0.0,0
O,0.00,0.000,0.0,0.00,0.0,0.0,0.00,0.00,0.00,0.000,...,0.0,0.000,0.5,0.000,0.000,0.500,0.000,0.000,0.5,1
S,0.00,0.000,0.0,0.00,0.0,0.0,0.00,0.00,0.00,0.000,...,1.0,0.000,0.0,0.000,0.000,0.000,0.500,1.000,0.5,1

In [79]:
atom_counts_h = (TM @ bond_types.T).T 

diff = (atom_counts_h - atom_counts).round(2)

diff[diff['C'] != 0]

         Br     C   Cl    F     H     N    O    S
63      0.0   1.5  0.0  0.0   0.0  0.67  0.0  2.0
340     0.0   1.0  0.0  0.0   0.0  0.00  0.0  2.0
341     0.0   1.0  0.0  0.0   0.0  0.00  0.0  2.0
342     0.0   1.0  0.0  0.0   0.0  0.00  0.0  2.0
343     0.0   1.0  0.0  0.0   0.0  0.00  0.0  2.0
357     0.0   1.0  0.0  0.0   0.0  0.00  0.0  2.0
358     0.0   1.0  0.0  0.0   0.0  0.00  0.0  2.0
574     0.0   1.0  0.0  0.0   0.0 -0.00  0.0  2.0
575     0.0   1.0  0.0  0.0   0.0 -0.00  0.0  2.0
576     0.0   1.0  0.0  0.0   0.0 -0.00  0.0  2.0
577     0.0   1.0  0.0  0.0   0.0 -0.00  0.0  2.0
608     0.0   1.0  0.0  0.0   0.0 -0.00  0.0  2.0
609     0.0   1.0  0.0  0.0   0.0 -0.00  0.0  2.0
610     0.0   1.0  0.0  0.0   0.0 -0.00  0.0  2.0
611     0.0   1.0  0.0  0.0   0.0 -0.00  0.0  2.0
612     0.0   1.0  0.0  0.0   0.0 -0.00  0.0  2.0
670     0.0   1.0  0.0  0.0   0.0  0.00  0.0  2.0
671     0.0   1.0  0.0  0.0   0.0  0.00  0.0  2.0
672     0.0   1.0  0.0  0.0   0.0  0.00  0.0  2.0
953     0.0   2.0  0.0  0.0   0.0  0.00  0.0  4.0
954     0.0   2.0  0.0  0.0   0.0  0.00  0.0  4.0
955     0.0   2.0  0.0  0.0   0.0  0.00  0.0  4.0
984     0.0   1.0  0.0  0.0   0.0  1.33  0.0  2.0
985     0.0   1.0  0.0  0.0   0.0  1.33  0.0  2.0
986     0.0   1.0  0.0  0.0   0.0  1.33  0.0  2.0
1236    0.0   1.0  0.0  0.0   0.0  1.33  0.0  2.0
1237    0.0   1.0  0.0  0.0   0.0  1.33  0.0  2.0
1238    0.0   1.0  0.0  0.0   0.0  1.33  0.0  2.0
1239    0.0   1.0  0.0  0.0   0.0  1.33  0.0  2.0
1250    0.0   1.0  0.0  0.0   0.0  1.33  0.0  2.0
1251    0.0   1.0  0.0  0.0   0.0  1.33  0.0  2.0
1252    0.0   1.0  0.0  0.0   0.0  1.33  0.0  2.0
1253    0.0   1.0  0.0  0.0   0.0  1.33  0.0  2.0
1254    0.0   1.0  0.0  0.0   0.0  1.33  0.0  2.0
1255    0.0   1.0  0.0  0.0   0.0  1.33  0.0  2.0
58029   0.0 -14.0  0.0  0.0 -16.0 -4.00 -1.0 -2.0
62524   0.0 -17.0  0.0  0.0 -13.0 -3.00 -2.0  0.0
63500   0.0 -13.0  0.0 -3.0  -5.0  0.00 -3.0  0.0
73143   0.0 -16.0  0.0  0.0 -22.0 -2.00 -3.0 -1.0
104152  0.0 -17.0  0.0  0.0 -15.0 -1.00 -4.0  0.0
127112  0.0 -17.0  0.0  0.0 -14.0 -4.00 -1.0  0.0

In [80]:
e = pd.read_csv('data/processed/energy.csv')

e.loc[58020:58034].describe()

            energy
count    15.000000
mean  -1632.416987
std       0.154427
min   -1632.511700
25%   -1632.501400
50%   -1632.486800
75%   -1632.445150
max   -1631.996500

In [ ]:
a = abs((TM @ bond_types.T - atom_counts.T).T).sum(axis=1) == 0
a[a]

In [ ]:
len(bond_types)

# Learning the bond matrix

In [ ]:
import tensorflow as tf
from tensorflow import transpose as t
from tqdm import tqdm

w = tf.Variable(TM, name='w', trainable=False, dtype='float32')
x = tf.Variable(bond_types, name='x', trainable=True, dtype='float32')
mask = tf.Variable(bond_types!=0, name='mask', trainable=False, dtype='float32')
y = tf.Variable(atom_counts, name='y', trainable=False, dtype='float32')

opt = tf.keras.optimizers.Adam()
mse = tf.keras.losses.MeanSquaredError()

h = []

for i in tqdm(range(10000)):
    with tf.GradientTape(persistent=True) as tape:
        y_h = tf.nn.relu(tf.math.multiply(x, mask)) @ t(w)
        loss = mse(y, y_h)
        h.append(loss)

    grads = tape.gradient(loss, [x])
    opt.apply_gradients(zip(grads, [x]))
    
print('done')

In [ ]:
import matplotlib.pyplot as plt

plt.plot(list(range(len(h))), h)

h[-1]

In [ ]:
output = tf.nn.relu(tf.math.multiply(x, mask)).numpy().astype('int32')

output

In [ ]:
abs((TM @ output.T - atom_counts.T).T).mean(axis=0)

In [ ]:
abs((TM @ output.T - atom_counts.T).T).mean(axis=0)

In [ ]:
learned_bond_types = pd.DataFrame(
    columns=bond_types.columns,
    data=output
)

learned_bond_types.head()

In [ ]:
learned_bond_types.to_csv('data/processed/learned_bond_types.csv', index=False)

## CSP

In [ ]:
from funcs.csp import get_csp_bond_type_count

df = pd.DataFrame()

for i in tqdm(range(1, 138366)):
    row = train_db.get(i)

    bond_counts = get_csp_bond_type_count(row)

    if bond_counts == None:
        print(i)
        break

    for bond in bond_counts:
        if bond not in df.columns:
            df[bond] = 0
        df.loc[i, bond] = bond_counts[bond]
            
df.head()

In [ ]:
get_csp_bond_type_count(train_db.get(34))

In [ ]:
df.to_csv('data/processed/csp_bond_types.csv', index=False)

In [ ]:
df.to_csv('data/processed/csp_bond_types.csv', index=True)

In [ ]:
len(df)

In [4]:
row = train_db.get(34)

# get_csp_bond_type_count(row)

In [2]:
from funcs.distance import *
from funcs.convert import *
from funcs.display import *

# display_molecule_video(row, atom_index=True, bond_type=False, equal_aspect_ratio=True)

In [5]:
get_bond_type('BrC', convert_to_picometers(get_distance_matrix(row)[15][16]))

1

In [6]:
dist_mat = get_distance_matrix(row)
bond_matrix = get_bond_type_matrix(dist_mat, row.symbols)

CC 0.0
CC 150.3715464412515
CC 255.46969433400395
CC 382.45293014307765
CC 436.76451882776763
CO 570.3229783829095
CC 694.2715835016974
CC 749.2260795983774
CO 690.205209953711
CN 887.5827973210694
CN 970.8426369361246
CC 954.2812665721674
CN 1080.2885632034722
CN 1165.917948714534
CC 1105.9715498234807
CC 381.59323151256103
BCr 543.8507997974194
CC 252.73839160175646
CH 113.23292845805807
CH 112.81893155537864
CH 111.65960808749088
CH 270.57424612836013
CH 470.8647657689687
CH 771.8468385150982
CH 743.3438339604573
CH 942.8443898488193
CH 869.834086454054
CH 1162.2962501219638
CH 267.9754567737905
CC 0.0
CC 140.3555917608663
CC 243.2252404937431
CC 286.43176411972394
CO 419.9551633777837
CC 544.2341383982871
CC 604.127349395365
CO 553.4680228349533
CN 743.1873474559223
CN 832.8585070336605
CC 826.0839789747296
CN 956.3059943548109
CN 1034.7584623472578
CC 967.7437532965179
CC 245.01527579085032
BCr 426.00875856198
CC 139.99613229565048
CH 214.83922807949645
CH 214.23773211693504
CH 218.6183017315223
CH 213.0018875561111
CH 343.04391712228716
CH 621.8119107769161
CH 596.0511739232359
CH 795.3958747060744
CH 747.8648573941499
CH 1020.1055702530324
CH 214.08227844393937
CC 0.0
CC 138.18205986971392
CC 244.77328608859068
CO 364.25593240691893
CC 472.66497661040097
CC 516.6279756076065
CO 465.88820329893565
CN 649.176035920468
CN 733.021692136194
CC 726.4142072890843
CN 854.1212239496173
CN 930.1119635339571
CC 865.0109657663833
CC 278.8345124783928
BCr 474.08227515194585
CC 237.8653494257732
CH 290.49494700577475
CH 276.9954207596516
CH 347.8955874595949
CH 111.37252707605049
CH 215.46097769949415
CH 567.930492484646
CH 513.1275702955755
CH 704.2948886206739
CH 652.3212154943744
CH 918.30146643505
CH 337.91356695741104
CC 0.0
CC 142.17801322301483
CO 236.8408507672455
CC 336.41952354016814
CC 383.8634944464143
CO 348.83398600720983
CN 516.0158477661113
CN 608.4415880302288
CC 616.1342392050803
CN 748.0271501101729
CN 813.672600545269
CC 739.4238081342495
CC 242.0237053914047
BCr 422.08864066411303
CC 274.58484284006505
CH 418.78477304262026
CH 409.84695524371625
CH 461.6337028459754
CH 219.9134696932329
CH 111.22635948314041
CH 436.33718524545014
CH 378.1513340286852
CH 567.1971862217586
CH 552.9117791841809
CH 787.4294404809632
CH 386.3121968423931
CC 0.0
CO 133.71272943568064
CC 260.991307784548
CC 343.36981734401274
CO 330.8878841264798
CN 481.3012661102798
CN 590.3237971899309
CC 613.9385230399671
CN 750.9123395689492
CN 807.1840748362349
CC 721.3102251098762
CC 141.9448208025228
BCr 290.20501718842775
CC 241.81611057523344
CH 484.957065900393
CH 485.26255042477413
CH 488.41800756407673
CH 347.618745307869
CH 219.18446284881747
CH 335.95451321090036
CH 326.3145211059954
CH 521.6949160925165
CH 558.825633612241
CH 761.0885460343195
CH 343.5899171360378
OO 0.0
CO 130.39208092408896
CO 237.60818385890502
OO 266.7236030719415
NO 367.2905440653173
NO 488.80619716543123
CO 534.0679847399881
NO 670.6595674598277
NO 710.8573579389024
CO 613.7057573898777
CO 244.45446969053847
BOr 316.20362677511554
CO 367.03813236684624
HO 615.3877074783751
HO 615.4145611888115
HO 620.7845703629564
HO 456.5433737087246
HO 260.65951713143227
HO 204.73605521281735
HO 211.4816828556906
HO 396.48114613404044
HO 498.2651907374972
HO 644.0241600546767
HO 459.86295999334953
CC 0.0
CC 152.88399712708335
CO 240.441198092506
CN 255.03800295227467
CN 388.7773084987223
CC 459.2974471060487
CN 590.7476017312533
CN 611.7036770851762
CC 503.23718314407796
CC 373.33228097081934
BCr 413.7035695821356
CC 497.41127764191094
CH 735.1824177265823
CH 733.2808612813492
CH 749.3402760948245
CH 552.5555749144482
CH 320.5840058513353
CH 116.4643116482143
CH 115.72472242371998
CH 268.63973502728254
CH 448.55201067146436
CH 522.6654329564086
CH 589.3714147923451
CC 0.0
CO 125.56032412368558
CN 141.801360995935
CN 251.32781067483722
CC 307.21028110709864
CN 440.4900312205509
CN 473.2918407181724
CC 379.29185318669477
CC 463.44412983843745
BCr 518.0758369963729
CC 575.6331364924531
CH 768.7668725194695
CH 791.4450372301393
CH 815.1668175157428
CH 580.5428709909376
CH 341.8137167044237
CH 213.06251078891052
CH 217.56198076896686
CH 213.12112505825638
CH 298.4486396677779
CH 422.2790715403437
CH 671.7936380524554
OO 0.0
NO 232.92190149824077
NO 288.0647937664493
CO 285.1351007334404
NO 421.75556714780225
NO 489.044909835116
CO 425.5537277286038
CO 444.4643427516936
BOr 523.7138013182251
CO 538.4191146160382
HO 693.3787768246261
HO 739.1079644117397
HO 760.6092066579066
HO 522.7405844377399
HO 312.0107393771697
HO 310.08271063592326
HO 320.40218139547017
HO 326.40171908198624
HO 232.73080609444855
HO 492.63463586455697
HO 634.6246767667285
NN 0.0
NN 141.38374002764576
CN 249.17328983773766
NN 360.97204164806084
NN 359.8648970066443
CN 248.3838229642074
CN 601.4065199360879
BNr 639.7125423765458
CN 716.3772661172756
HN 905.3195422464038
HN 925.16948591949
HN 955.8217855478745
HN 704.6086751091188
HN 458.8638395534222
HN 276.4767900025335
HN 274.24104080976736
HN 107.73051288557738
HN 292.07294553126
HN 280.94546285790966
HN 811.9693011909642
NN 0.0
CN 135.3580698141831
NN 223.02367300810823
NN 223.24770862747772
CN 137.49900622898747
CN 710.1248335153724
BNr 754.9840217470759
CN 816.6963790171781
HN 974.389424215795
HN 1009.6036156856187
HN 1044.6399261495026
HN 776.3644185427258
HN 542.5473883171326
HN 410.6855630784228
HN 411.29746429584617
HN 214.47677088967464
HN 220.10739679845298
HN 216.74817049021925
HN 912.8178967847509
CC 0.0
CN 137.36681905775788
CN 219.36380794314454
CC 217.4780072372013
CC 728.8203109606108
BCr 789.0506499347039
CC 821.3426290479997
CH 942.1489458484932
CH 997.2199479882469
CH 1031.6688145142407
CH 760.2311276644467
CH 551.6639714655764
CH 494.87742638568346
CH 500.53073066509
CH 341.7645696243719
CH 108.57752925270573
CH 321.3817912889021
CH 916.2180853810893
NN 0.0
NN 134.92872927151677
CN 218.92465618585106
CN 865.2968642762113
BNr 922.2371646904173
CN 955.6695921414415
HN 1061.7714052721838
HN 1121.6495831217383
HN 1159.8970702650845
HN 880.3188305322805
HN 678.6807571133047
HN 618.9863739126439
HN 623.5981866502432
HN 435.7985478173721
HN 215.23520272045337
HN 324.0156816382169
HN 1049.8463470957088
NN 0.0
CN 135.98713471005803
CN 925.8479519660143
BNr 969.2608856526637
CN 1026.9209297991947
HN 1157.3494462826409
HN 1203.3036880296877
HN 1244.2583355111901
HN 960.6479723796249
HN 740.0762697854303
HN 625.967840707255
HN 626.4992398504462
HN 403.9675261832969
HN 322.4335047209398
HN 219.09886765660622
HN 1122.4674790734343
CC 0.0
CC 841.6389286688492
BCr 876.676333671158
CC 951.205634129644
CH 1109.829993976458
CH 1141.502148932782
CH 1180.6893502590679
CH 904.5537889272586
CH 668.1077449072354
CH 510.55968658620407
CH 508.0669993034568
CH 273.4510772775624
CH 323.9243819680362
CH 108.21861462263352
CH 1047.1279793130395
CC 0.0
BCr 195.25842494469535
CC 137.5270148372962
CH 441.09411750280617
CH 449.78529773772885
CH 403.0584783952311
CH 390.062962066915
CH 343.43863109611107
CH 418.67551699952764
CH 443.99400829991225
CH 638.6952053776342
CH 667.3830774139651
CH 881.144908629445
CH 216.25069444202703
BBrr 0.0
BCr 292.7766274284821
BHr 604.6231446522057
BHr 619.8361532457243
BHr 534.6264976206129
BHr 585.3199775357812
BHr 509.38617323785144
BHr 403.3039422255061
BHr 491.11269936124904
BHr 659.8715105955755
BHr 740.8030385114101
BHr 904.1454002928692
BHr 305.3639387013442
CC 0.0
CH 320.1977638248079
CH 331.3587707095684
CH 265.65234502730004
CH 336.79211819294693
CH 385.8019806078378
CH 553.0330321376387
CH 561.0069930843098
CH 760.7081779615946
CH 748.9495273370958
CH 997.2876232301911
CH 111.76491481334578
HH 0.0
HH 180.26295658956155
HH 183.22012295473664
HH 283.336959225093
HH 496.8506377196019
HH 816.3075024327457
HH 792.136296641723
HH 971.2043067086562
HH 850.205085636448
HH 1175.0053649267995
HH 337.4548991407688
HH 0.0
HH 187.11876120713487
HH 258.25978091498695
HH 483.03851452067806
HH 818.5893866099559
HH 766.7896456652605
HH 975.9053877892281
HH 916.8661530611721
HH 1194.4216236547277
HH 356.6715371032157
HH 0.0
HH 378.60883032238786
HH 559.4227164220458
HH 814.9027082960008
HH 802.7169709533623
HH 1007.0729512579733
HH 947.5035166274047
HH 1234.4464714284638
HH 232.7406139591863
HH 0.0
HH 253.3580560979989
HH 655.7525631229547
HH 582.1529866237734
HH 763.5921343485744
HH 684.0409584735244
HH 961.6954114513562
HH 426.12474644631436
HH 0.0
HH 433.5499867033889
HH 342.5655441960364
HH 511.95917724140685
HH 496.2833019881358
HH 716.3630181371607
HH 497.51421117635084
HH 0.0
HH 177.67930767158538
HH 264.21440923449757
HH 496.99269110347024
HH 516.458363290996
HH 631.5808981242383
HH 0.0
HH 253.90594294917264
HH 506.1032112151062
HH 509.73248888993453
HH 655.7812910321095
HH 0.0
HH 397.0124714241328
HH 262.4747472959766
HH 854.0630343233743
HH 0.0
HH 424.802963156041
HH 842.0510917546404
HH 0.0
HH 1092.502062746899

In [20]:
bond_matrix[16][15]

0.0

In [15]:
bond_length = convert_to_picometers(get_distance_matrix(row)[15][16])
bond_name = 'BrC'

print(bond_length < shortest_bond_length)
print(bond_length > longest_bond_length)
print(bond_name not in type_bond_length)

False
False
False

- increase the maximum bond length to 195
- something is wrong with sulfur bonds

In [ ]:
from funcs.csp import csp_solve_bond_matrix

for i in range(35, 140000):
    row = train_db.get(i)
    sols = csp_solve_bond_matrix(row, find_all=True)
    if sols == None or len(sols) == 0 or None in sols:
        print(i)
        break

In [ ]:
len([None])